{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta charset="utf-8">
	<title>WireFrame 3</title>
	<meta name="description" content="">
	<meta name="author" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" href="" > <!-- favicon -->
	<link rel="stylesheet" href="{% static 'frames/css/master3.css' %}">
	<link rel="stylesheet" href="{% static 'frames/css/left-column.css' %}">
	<link rel="stylesheet" href="{% static 'frames/css/wireframe2.css' %}">
	<!-- bootstrap & jQuery CDN -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	<!--[if lt IE 9]>
	<script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>
<body>

	<section class='top-section'>
		<div class='container background-opaque-white'>
			<div class='row'>
				<div class='col-sm-6 left-column'>
					<img class='img-fluid img-responsive' src="{% static 'frames/imgs/eagle.png' %}"/>
					<h3 class='red-text'>Rates as low as</h3>
					<h3 class='red-text-lg'>5.99% APR</h3>
					<p class='text-center'>Rates from 5.99% to 35.19% APR. <br />Best APR available to those with excellent credit*</p>
					<img class='img-fluid img-responsive icon-img' src="{% static 'frames/imgs/flag.png' %}"/>
					<p class='text-center'>Special Rates for Active Duty Military</p>
					<img class='img-fluid img-responsive icon-img' src="{% static 'frames/imgs/phone.png' %}"/>
					<p class='text-center margin-xxs'>Have questions? Call Us!</p>
					<p class='text-center margin-xxs'><b>Toll-free (312) 471-6991</b></p>
					<p class='text-center margin-xxs'>10 a.m. to 6 p.m. (Eastern)</p>
					<p class='text-center'>Monday - Friday</p>
				</div>
				<div class='col-sm-6'>
					<div class='width-75'>
						<form id="form" action='/frames/wireframe3_new/' method='post'>{% csrf_token %}
							<p>Do you rent or own?</p>
							<input type='radio' name='ownership' value='rent'/> <p class='radio-text'>Rent</p>
							<input type='radio' name='ownership' value='own'/> <p class='radio-text'>Own</p>
							<p>Are you a U.S. Citizen?</p>
							<input type='radio' name='citizenship' value='yes'/> <p class='radio-text'>Yes</p>
							<input type='radio' name='citizenship' value='no'/> <p class='radio-text'>No</p>

							<input class='form-control' name='email_address' placeholder="Email Address">
							<input class='form-control' type='password' name='social_security' placeholder="Social Security Number">
							<p>Are you active duty military?</p>
							<input type='radio' name='active_duty' value='yes'/> <p class='radio-text'>Yes</p>
							<input type='radio' name='active_duty' value='no'/> <p class='radio-text'>No</p>
							<input class='form-control' type='password' name='terminal_service_date' placeholder="If yes, Expiration of Terminal Service Date?">
							<select class="form-control" id="form" name='service_branch'>
								<option selected="">Branch of Service</option>
								<option>2</option>
								<option>3</option>
								<option>4</option>
							</select>
							<select class="form-control" id="form" name='service_type'>
								<option selected="">Type of Service</option>
								<option>2</option>
								<option>3</option>
								<option>4</option>
							</select>
							<div class='row padding-none'>
								<div class='col-sm-6'>
									<select class="form-control margin-none" id="form" name='rank'>
										<option selected="">Rank of Service</option>
										<option>2</option>
										<option>3</option>
										<option>4</option>
									</select>
								</div>
							</div>
							<input class='form-control' name='mos' placeholder="MOS">
							<div class='row padding-none'>
								<div class='col-sm-6 '>
									<input class='form-control margin-none' name='service_years' placeholder="Years of Service">
								</div>
							</div>
							<input class='form-control' name='duty_station' placeholder="Duty Station">
							<p>Other Sources of Income</p>
							<p class='text-sm'>*Alimony, child, support or separate maintenance income need not be revealed if you do not wich to have it considered in a basis to repay this obligation</p>
							<input type='radio' name='other_income' value='yes'/> 			<p class='radio-text'>None</p>
							<input type='radio' name='other_income' value='other'/> 		<p class='radio-text'>Other</p> <br />
							<input type='radio' name='other_income' value='child_support'/> <p class='radio-text'>Child Support</p>
							<input type='radio' name='other_income' value='alimony'/> 		<p class='radio-text'>Alimony</p>

							<div class='row padding-none'>
								<div class='col-sm-6 '>
									<input class='form-control' name='other_income_monthly' placeholder="Total/Month">
								</div>
							</div>
							<p>Is any of the income listed above likely to be redced before the credit request is paid off?</p>
							<input type='radio' name='reduced_income' value='yes'/> <p class='radio-text'>Yes</p>
							<input type='radio' name='reduced_income' value='no'/> <p class='radio-text'>No</p>
							<textarea class='form-control' form="form" name="reduced_income_explanation" rows=5>Please Explain</textarea>
							<div class='text-left margin-top-md'>
								<input type="submit" class='btn btn-blue' value="Let's get started!">
								<p class='text-sm margin-top-md'>This DOES NOT affect your credit score.</p>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
	<div class='blue-bar-separator'><!-- Separator--></div>
	<section class='bottom-section'>
		<div class='container'>
			<div class='row'>
				<div class='col-xs-12'>
					<p><b>*Funding</b> - Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
				</div>
			</div>
			<div class='row'>
				<div class='col-xs-12'>
					<p><b>APR</b> - Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
				</div>
			</div>
			<div class='row'>
				<div class='col-xs-12'>
					<p><b>Eligibility Criteria</b> - Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
				</div>
			</div>
			<div class='row'>
				<div class='col-xs-12'>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
				</div>
			</div>
		</div>
	</section>




</body>
</html>
